In [1]:
import requests
import pandas as pd
import json
from pandas import json_normalize

In [2]:
year = input('Temporada : ')

Temporada : 2022

In [4]:
url = "http://ergast.com/api/f1/"
query = "constructorStandings.json"
urlquery = url + str(year) + '/'+query
print(urlquery)

http://ergast.com/api/f1/2022/constructorStandings.json

In [6]:
response = requests.get(urlquery)
data = response.json()
constructors = data['MRData']['StandingsTable']['StandingsLists'][0] 
                           ['ConstructorStandings']
constructors

[{'position': '1',
  'positionText': '1',
  'points': '545',
  'wins': '12',
  'Constructor': {'constructorId': 'red_bull',
   'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
   'name': 'Red Bull',
   'nationality': 'Austrian'}},
 {'position': '2',
  'positionText': '2',
  'points': '406',
  'wins': '4',
  'Constructor': {'constructorId': 'ferrari',
   'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
   'name': 'Ferrari',
   'nationality': 'Italian'}},
 {'position': '3',
  'positionText': '3',
  'points': '371',
  'wins': '0',
  'Constructor': {'constructorId': 'mercedes',
   'url': 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One',
   'name': 'Mercedes',
   'nationality': 'German'}},
 {'position': '4',
  'positionText': '4',
  'points': '125',
  'wins': '0',
  'Constructor': {'constructorId': 'alpine',
   'url': 'http://en.wikipedia.org/wiki/Alpine_F1_Team',
   'name': 'Alpine F1 Team',
   'nationality': 'French'}},
 {'position': '5',
  'positionText': '5',
  'points': '107',
  'wins': '0',
  'Constructor': {'constructorId': 'mclaren',
   'url': 'http://en.wikipedia.org/wiki/McLaren',
   'name': 'McLaren',
   'nationality': 'British'}},
 {'position': '6',
  'positionText': '6',
  'points': '52',
  'wins': '0',
  'Constructor': {'constructorId': 'alfa',
   'url': 'http://en.wikipedia.org/wiki/Alfa_Romeo_in_Formula_One',
   'name': 'Alfa Romeo',
   'nationality': 'Swiss'}},
 {'position': '7',
  'positionText': '7',
  'points': '34',
  'wins': '0',
  'Constructor': {'constructorId': 'haas',
   'url': 'http://en.wikipedia.org/wiki/Haas_F1_Team',
   'name': 'Haas F1 Team',
   'nationality': 'American'}},
 {'position': '8',
  'positionText': '8',
  'points': '33',
  'wins': '0',
  'Constructor': {'constructorId': 'alphatauri',
   'url': 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri',
   'name': 'AlphaTauri',
   'nationality': 'Italian'}},
 {'position': '9',
  'positionText': '9',
  'points': '25',
  'wins': '0',
  'Constructor': {'constructorId': 'aston_martin',
   'url': 'http://en.wikipedia.org/wiki/Aston_Martin_in_Formula_One',
   'name': 'Aston Martin',
   'nationality': 'British'}},
 {'position': '10',
  'positionText': '10',
  'points': '6',
  'wins': '0',
  'Constructor': {'constructorId': 'williams',
   'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering',
   'name': 'Williams',
   'nationality': 'British'}}]

In [7]:
df = pd.DataFrame(constructors)
df

,position,positionText,points,wins,Constructor
0,1,1,545,12,"{'constructorId': 'red_bull', 'url': 'http://e..."
1,2,2,406,4,"{'constructorId': 'ferrari', 'url': 'http://en..."
2,3,3,371,0,"{'constructorId': 'mercedes', 'url': 'http://e..."
3,4,4,125,0,"{'constructorId': 'alpine', 'url': 'http://en...."
4,5,5,107,0,"{'constructorId': 'mclaren', 'url': 'http://en..."
5,6,6,52,0,"{'constructorId': 'alfa', 'url': 'http://en.wi..."
6,7,7,34,0,"{'constructorId': 'haas', 'url': 'http://en.wi..."
7,8,8,33,0,"{'constructorId': 'alphatauri', 'url': 'http:/..."
8,9,9,25,0,"{'constructorId': 'aston_martin', 'url': 'http..."
9,10,10,6,0,"{'constructorId': 'williams', 'url': 'http://e..."

In [8]:
df2 = pd.json_normalize(constructors)
df2

,position,positionText,points,wins,Constructor.constructorId,Constructor.url,Constructor.name,Constructor.nationality
0,1,1,545,12,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
1,2,2,406,4,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
2,3,3,371,0,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
3,4,4,125,0,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French
4,5,5,107,0,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
5,6,6,52,0,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
6,7,7,34,0,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
7,8,8,33,0,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian
8,9,9,25,0,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British
9,10,10,6,0,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British

In [12]:
df2.columns = ['posicion','posicionTexto','puntos','wins',
               'constructorId','url','escuderia','nacionalidad']
df2

,posicion,posicionTexto,puntos,wins,constructorId,url,escuderia,nacionalidad
0,1,1,545,12,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
1,2,2,406,4,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
2,3,3,371,0,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
3,4,4,125,0,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French
4,5,5,107,0,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
5,6,6,52,0,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
6,7,7,34,0,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
7,8,8,33,0,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian
8,9,9,25,0,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British
9,10,10,6,0,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British

In [13]:
df2.dtypes

posicion         object
posicionTexto    object
puntos           object
wins             object
constructorId    object
url              object
escuderia        object
nacionalidad     object
dtype: object

In [14]:
df2['posicion'] = df2['posicion'].astype(int)
df2['puntos'] = df2['puntos'].astype(float)
df2['wins'] = df2['wins'].astype(int)

In [15]:
df2.describe()

       posicion      puntos       wins
count  10.00000   10.000000  10.000000
mean    5.50000  170.400000   1.600000
std     3.02765  194.885836   3.864367
min     1.00000    6.000000   0.000000
25%     3.25000   33.250000   0.000000
50%     5.50000   79.500000   0.000000
75%     7.75000  309.500000   0.000000
max    10.00000  545.000000  12.000000